# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# testing / coverage
coverage/

# misc
*.tsbuildinfo
errors.txt
